.backDrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal {
  width: 500px;
  padding: 10px;
  background-color: #81c9df;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
